# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/*/legacy_files

# Ignore robots.txt
robots.txt
robots_orig.txt
