.pane-kurs-overview-panel-pane-1 {
	h2 {
		@include title-left;
		color:red;
	}
}


/*
 * Banners
 */
.pane-home-featured-home, #pane-om-oss-featured {
	padding-top: em(44px, 14px);

	.view-content {
		overflow: hidden;
	}
	.skin-default {
		padding-bottom: em(48px, 14px);
		overflow: hidden;
	}
	.views-fields-wrapper {
		@include grid(7);
		padding-top: em(32px, 14px);
	}
	.views-field-title {
		font-family: $baseFontFamily;
		font-size: em(50px, 14px);
		font-weight: normal;
		line-height: 1em;
		letter-spacing: em(-2px, 50px);
		margin-bottom: em(19px, 50px);

		em {
			font-size: em(35px, 50px);
			font-style:normal;
		}
	}
	.views-field-body {
		margin-bottom: em(23px, 14px);

		p {
			font-size: em(20px, 14px);
			line-height: em(29px, 20px);
		}
	}
	.views-field-field-link {
		a {
			color: #fff;
			font-family: $helveticaFontFamily;
			font-size: em(18px, 14px);
			font-weight: bold;
			text-decoration: none;
			text-align: center;
			text-shadow: 0 1px 0 rgba(0,0,0,0.35);
			display: inline-block;
			padding: em(14px, 18px) em(33px, 18px) em(16px, 18px);
			@include background-image(linear-gradient(#DF701F, #E68022 13%, #D14D1A));
			@include border-radius(6px);
			border: 1px solid #D14D1A;

			&:hover {
				@include box-shadow(0 0 2px #D14D1A);
			}
		}
	}
	.views-field-field-image {
		@include grid(5);
		text-align: center;

		img {
			display: inline-block;
			margin: 0 auto;
		}
	}
	.views-slideshow-controls-bottom {
		float: left;
		position: relative;
		left: 50%;
		margin-top: em(24px, 14px);
		margin-bottom: em(-38px, 14px);

		.widget_pager {
			float: left;
			position: relative;
			left: -50%;
		}
		.views-slideshow-pager-field-item {
			@include hide-text;
			background: transparent url('../images/bg_slideshow-pager.png') no-repeat top right;
			float: left;
			width: 14px;
			height: 14px;
			margin: 0 2px;

			&.active {
				background-position: top left;
			}
		}
	}
}