// Typography
$baseFontSize:          14px;
$baseFontFamily:        'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$baseLineHeight:        21px;
$altFontFamily:          ‘Arial Narrow’, sans-serif;
$helveticaFontFamily:   'Helvetica Neue', Helvetica, Arial, sans-serif;

$headingsFontFamily:    inherit !default; // empty to use BS default, @baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, @textColor

// Fonts directory path
$font_path: 'fontawesome-webfont';

// Sprite icons path
$iconSpritePath:      '../images/glyphicons-halflings.png';
$iconWhiteSpritePath: '../images/glyphicons-halflings-white.png';
