/*         General Sitewide Styles
------------------------------------------------*/
/* Layout */
#main, #header, #footer {
  @include grid-container;
  display: block;
  position: relative;
  float: none;
}

/* General Styles (Colors, Backgrounds etc.) */
html, body {
  background: #1e1817;
}

.page-wrapper {
  background: #fff;
  padding: 1px 0; /* force box without overflow hidden */
}

/* Typography */

/* Links */

/* Header */
.header-wrapper {
  background: #302725;
}

#header {
  h1 {
    display: inline-block;
    line-height: 1;
    margin-top: em(2px, 30px);

    a {
      display: inline-block;
      padding: em(10px, 30px) 0 0;
    }
    img {
      display: block;
    }
  }

  .search-form {
    height: 25px;
    position: absolute;
    top: em(12px, 14px);
    right: 1em;

    .form-text {
      @include input-placeholder(#fff);
      background: #fff url('../images/icon_search-textfield.png') no-repeat center right;
      width: 1em;
      padding: 4px 10px 3px;
      border: none;
      @include border-radius(1.15em);
      @include box-shadow(inset 0 1px 0 #000);
      margin: 0;
      visibility: hidden;

      @include transition-property(all);
      @include transition-duration(0.15s);
      @include transition-timing-function(ease-in);
    }
    .form-submit {
      display: block;
      position: absolute;
      top: -2px;
      right: 2px;
      @include box-shadow(none);
    }
    &.search-active {
      .form-text {
        @include input-placeholder(#666);
        visibility: visible;
        width: 20em;
      }
      .form-submit {
        @include opacity(0);
      }
    }
  }
}

#main-menu {
  font-family: $helveticaFontFamily;
  float: right;
  margin-right: em(50px, 14px);

  .main-menu {
    li {
      float: left;
    }
    a {
      color: #efefef;
      display: inline-block;
      padding: em(14px, 14px) em(12px, 14px) em(16px, 14px);
      @include transition-property(background);
      @include transition-duration(0.75s);

      &:hover,
      &:focus {
        background: rgba(0,0,0,0.2);
      }
      &.active {
        background: rgba(0,0,0,0.1);
      }
    }
  }
}

/* Sidebars */

/* Postscript */
#postscript {
  background-color: #ddd;
  overflow: hidden;
}

/* Footer */
#footer {
  color: #fff;
  background: #1e1817;
}

#block-front-custom-front-vcard {
  font-weight: lighter;
  padding: em(21px, 14px) 0;

  h2, .org {
    @include element-invisible;
  }
  a {
    color: #ccc;
  }
  .adr {
    font-style: oblique;
  }
  .social-links {
    color: #ccc;
    float: right;

    a {
      vertical-align: top;
      background: url('../images/icon_vcard-links.png') no-repeat;
      display: inline-block;
      height: 20px;
      margin-left: 14px;
      @include hide-text;
    }
    .twitter {
      background-position: top left;
      width: 24px;

      &:hover {
        background-position: bottom left;
      }
    }
    .facebook {
      background-position: top right;
      width: 18px;

      &:hover {
        background-position: bottom right;
      }
    }
  }
}

/*         Front Page
------------------------------------------------*/

/*         Inner Pages
------------------------------------------------*/

/*         Forms
------------------------------------------------*/
