// Typography
$baseFontSize:          14px;
$baseFontFamily:        'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$baseLineHeight:        21px;
$altFontFamily:          ‘Arial Narrow’, sans-serif;
$helveticaFontFamily:   'Helvetica Neue', Helvetica, Arial, sans-serif;

$headingsFontFamily:    inherit !default; // empty to use BS default, @baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold

// Colorpalette
$headingsColor:         inherit !default; // empty to use BS default, @textColor
$yellowProfileColor:    #EBB700;
$yellowLogoColor: 			$yellowProfileColor;
$yellowProfileColorDark:#D8A107;
$brownProfileColor:     #4C3327;
$brownProfileColorDark: #302725;
$brownProfileColorLight:#703D29;
$navSecondColorMenu:    #979392;

$postscriptLinkColor:   #AA6552;

// Backgrounds
$backgroundLower:				#eff2f4; // new brownish #EDEAE9;
$backgroundLowest:			#DEE2E5; // new brownish #F6F5F4;
$bodyBackgroundLower:		$backgroundLower url('../images/bg_home-services.png') repeat-x center top; // For the lower half of a lot of pages
$bodyBackgroundLowest:	$backgroundLowest url('../images/bg_latest-projects.png') repeat-x center top; // For the lowest half of a lot of pages

// Fonts directory path
$font_path: 'fontawesome-webfont';

// Sprite icons path
$iconSpritePath:      '../images/glyphicons-halflings.png';
$iconWhiteSpritePath: '../images/glyphicons-halflings-white.png';