// from Compass 12.1
// Cross-browser support for @font-face. Supports IE, Gecko, Webkit, Opera.
// Order of the includes matters, and it is: normal, bold, italic, bold+italic.

@mixin font-face(
  $name,
  $font-files,
  $eot: false,
  $weight: false,
  $style: false
  ) {
  $iefont: unquote("#{$eot}?#iefix");
  @font-face {
    font-family: quote($name);
    @if $eot {
      src: font-url($eot);
      $font-files: font-url($iefont) unquote("format('eot')"), $font-files;
    }
    src: $font-files;
    @if $weight {
      font-weight: $weight;
    }
    @if $style {
      font-style: $style;
    }
  }
}

@mixin grid-container-center {
  @include grid-container;
  display: block;
  position: relative;
  float: none;
}

@mixin element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

@mixin hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin input-placeholder($color) {
  &.placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

/*
 * Fonts
 */

 @mixin title-centered {
  font-family: $baseFontFamily;
  font-size: em(50px, 14px);
  font-weight: normal;
  line-height: 1;
  letter-spacing: em(-2px, 50px);
  margin: 0;
  text-align: center;
  padding: em(14px, 14px) 0 em(14px, 14px);
}

@mixin title-centered-padding{
  padding: em(72px, 14px) 0 em(40px, 14px);

}
@mixin title-left{
  font-size: em(50px, 14px);
  line-height: 1em;
  letter-spacing: em(-2.5px, 50px);
  margin-bottom: em(24px, 50px);
  padding-bottom: 0;
  border: none;
}
@mixin title-post{
  font-size: em(22px, 14px);
  line-height: em(24px, 22px);
  margin: em(3px, 22px) 0;
  a {
    color: #000;
  }
}

@mixin sub-heading {
  font-family: $baseFontFamily;
  line-height: em(21px, 18px);
  font-weight: normal;
  margin-bottom: em(3px, 18px);
}

/*
 * Sections
 */
 @mixin ingress {
  @include grid(8.5);
  text-align: center;
  float: none;
  display: block;
  margin: 0 auto;
  p {
    font-size: em(20px, 14px);
    font-style: italic;
    line-height: em(29px, 20px);
  }
  a {
    color: #D14C19;
    &:hover {
      color: darken(#D14C19, 10%);
    }
  }
}
@mixin tabs-main{
  text-align: center;
  font-family: $helveticaFontFamily;
  font-size: em(20px, 14px);
  float:none;
  display:block;
}

/*
 * Utilities
 */
 @function em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}

@function perc($target-px, $context) {
  @return ($target-px / $context) * 100%;
}
