/*         General Sitewide Styles
------------------------------------------------*/
/* Layout */
#main, #header, #footer, .page-inner {
  @include grid-container-center;
}

.page-inner {
  @include clearfix;
}

/* General Styles (Colors, Backgrounds etc.) */
html, body {
  background: #1e1817;
}

.page-wrapper {
  background: #fff;
  padding: 1px 0; /* force box without overflow hidden */
}

/* Typography */
#page-title {
  font-size: em(50px, 14px);
  line-height: 1em;
  letter-spacing: em(-2.5px, 50px);
  margin-bottom: em(24px, 50px);
  padding-bottom: 0;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaFontFamily;
}

/* Links */

/* Header */
.header-wrapper {
  background: #302725;
}

#header {
  h1 {
    display: inline-block;
    line-height: 1;
    margin-top: em(2px, 30px);

    a {
      display: inline-block;
      padding: em(10px, 30px) 0 0;
    }
    img {
      display: block;
    }
  }

  .search-form {
    height: 25px;
    position: absolute;
    top: em(12px, 14px);
    right: 1em;

    .form-text {
      @include input-placeholder(#fff);
      background: #fff url('../images/icon_search-textfield.png') no-repeat center right;
      width: 1em;
      padding: 4px 10px 3px;
      border: none;
      @include border-radius(1.15em);
      @include box-shadow(inset 0 1px 0 #000);
      margin: 0;
      visibility: hidden;

      @include transition-property(all);
      @include transition-duration(0.15s);
      @include transition-timing-function(ease-in);
    }
    .form-submit {
      display: block;
      position: absolute;
      top: -2px;
      right: 2px;
      @include box-shadow(none);
    }
    span.toggle {
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 1px;
      right: 2px;
      z-index: auto;
      cursor: pointer;
    }
    &.search-active {
      .form-text {
        @include input-placeholder(#666);
        visibility: visible;
        width: 20em;
      }
      .form-submit {
        @include opacity(0);
      }
    }
    .form-type-textfield {
      #autocomplete {
        border-color: #f5f5f5;
        @include border-radius(1px 1px 3px 3px);
        @include box-shadow(0 1px 1px rgba(0,0,0,0.05));

        li {
          color: #666;
          padding: 1px 7px 1px 10px;
        }
      }
    }
  }
}

#main-menu {
  font-family: $helveticaFontFamily;
  float: right;
  margin-right: em(50px, 14px);

  .main-menu {
    li {
      float: left;
    }
    a {
      color: #efefef;
      display: inline-block;
      padding: em(14px, 14px) em(12px, 14px) em(16px, 14px);
      @include transition-property(background);
      @include transition-duration(0.75s);

      &:hover,
      &:focus {
        background: rgba(0,0,0,0.95);
      }
      &.active {
        color: #F2CB2D;
        background: rgba(0,0,0,0.1) url('../images/icon_main-active-white.png') no-repeat center bottom;
      }
    }
  }
}

/* Sidebars */
.view-taxonomy-menu {
  font-family: $helveticaFontFamily;
  overflow: hidden;

  .view-content {
    h3 {
      color: #fff;
      font-size: em(16px, 14px);
      font-weight: normal;
      line-height: em(21px, 16px);
      background: #343434 url('../images/bg_menu-block-dash.png') repeat-x left bottom;
      @include box-shadow(0 2px 0 rgba(0,0,0,1));

      &:last-of-type {
        background-image: none;
      }

      a {
        color: #fff;
        font-weight: 300;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
        letter-spacing: em(0.5px, 16px);
        display: block;
        padding: em(11px, 16px) 0 em(12px, 16px) em(22px, 16px);

        &:hover {
          color: #F2CB2D;
          background-color: rgba(0,0,0,0.15);
        }
        &.active {
          color: #F2CB2D;
          background: transparent url('../images/icon_block-menu-active.png') no-repeat left center;
        }
        &.open {
          background-color: #343434;
        }
      }
    }
    ul {
      background-color: #555;
      margin: 0 2px 1px;

      .js & {
        display: none;
      }

      li {
        background: transparent url('../images/bg_menu-block-sub-dash.png') repeat-x left bottom;
        list-style: none;
        overflow: hidden;

        &.views-row-last {
          background: none;
        }
      }
      a {
        color: #eee;
        line-height: em(17px, 14px);
        text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
        display: block;
        margin: 0 -1px -1px;
        padding: em(13px, 14px) 5px em(14px, 14px) em(21px, 14px);

        &:hover,
        &.active {
          color: #F2CB2D;
        }
      }
      .views-row-first a {
        @include box-shadow(inset 0 2px 2px rgba(0,0,0,0.75));
      }
    }
  }
}

.pane-menu-block,
.pane-services-block-menu,
.pane-terms-menu-topics {
  font-family: $helveticaFontFamily;
  overflow: hidden;

  .pane-title {
    font-size: em(11px, 14px);
    text-transform: uppercase;
  }
  ul.menu {
    font-size: em(16px, 14px);
    margin-left: 0;

    li {
      background: #343434 url('../images/bg_menu-block-dash.png') repeat-x left bottom;
      list-style: none;

      &:last-child {
        background-image: none;
      }
    }
    a {
      color: #fff;
      font-weight: 300;
      text-decoration: none;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
      letter-spacing: em(0.5px, 16px);
      display: block;
      padding: em(11px, 16px) 0 em(12px, 16px) em(22px, 16px);

      &:hover {
        color: #F2CB2D;
        background-color: rgba(0,0,0,0.15);
      }
    }
    .active a,
    a.active {
      color: #F2CB2D;
      background: transparent url('../images/icon_block-menu-active.png') no-repeat left center;
    }
  }
}


/* Postscript */
#postscript {
  clear: both;
  background-color: #302725;
  padding-top: em(35px, 14px);
  overflow: hidden;
}

.block-panels-mini {
  color: #fff;
  margin-bottom: em(50px, 14px);

  .content {
    @include grid-container-center;
  }
}

.pane-blog-block-latest-posts {
  .pane-title {
    font-family: $baseFontFamily;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
  }
  article {
    @include grid-prefix(1);
    margin-top: 22px;
  }
  .views-field-field-image {
    float: left;
    margin-left: -80px;

    img {
      background-color: #1e1718;
      display: inline-block;
      padding: 7px;
      @include border-radius(2px);
      @include transition-property(background-color);
      @include transition-duration(0.5s);
    }
    a:hover img {
      background-color: #403a3a;
    }
  }
  .views-field-title {
    font-family: $baseFontFamily;
    font-size: em(18px, 14px);
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 0.2em;
  }
  .views-field-created {
    color: #B9B6B6;
    font-size: em(12px, 14px);
  }
  .views-field-body {
    margin-bottom: 0.333em;
  }
  .views-field-view-node {
    font-size: em(11px, 14px);
    text-transform: uppercase;

    a {
      text-decoration: none;
      background-color: #1e1718;
      display: inline-block;
      padding: 0 0.5em;
      @include border-radius(5px);
      @include transition-property(all);
      @include transition-duration(0.5s);

      &:hover {
        color: #B9B6B6;
        background-color: #403a3a;
      }
    }
  }
}

.pane-front-custom-front-support {
  .pane-title {
    @include element-invisible;
  }
  .pane-content {
    margin-top: em(10px, 14px);

    p {
      font-size: em(18px, 14px);
      font-weight: 400;
      line-height: 1.44em;
      margin-bottom: 1em;
    }

    .links {
      margin: 0;
      list-style: none;
      overflow: hidden;

      li {
        float: left;
        margin-right: 1.4em;
      }
      a {
        color: #fff;
        font-family: $helveticaFontFamily;
        font-size: em(15px, 14px);
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        text-shadow: 0 1px 0 rgba(0,0,0,0.35);
        display: inline-block;
        width: em(173px, 15px);
        margin: 3px;
        padding: 1em 0;
        @include box-shadow(0 1px 0 rgba(0,0,0,0.2));
        @include border-radius(6px);
      }
      .contact a {
        @include background-image(linear-gradient(#DF701F, #E68022 13.13%, #D14D1A));
        border: 1px solid #d14d1a;

        &:hover {
          @include box-shadow(0 0 2px #d14d1a);
        }
      }
      .support a {
        @include background-image(linear-gradient(#78DDFB, #78DDFB 13.13%, #5B9EC3));
        border: 1px solid #639EB3;

        &:hover {
          @include box-shadow(0 0 2px #639EB3);
        }
      }
    }
  }
}

.block-twitter-pull {
  background: transparent url('../images/bg_twitter-pull.png') repeat-x center 24px;

  .content {
    @include grid-container-center;
  }
  .tweet-author {
    width: 50px;
    margin: 0 auto em(17px, 24px);

    a {
      @include hide-text;
      background: transparent url('../images/icon_twitter-tweet.png') no-repeat center center;
      display: block;
      width: 50px;
      height: 50px;
      @include transition-property(transform);
      @include transition-duration(0.5s);

      &:hover {
        @include rotate(-15deg);
      }
    }
  }
  blockquote {
    color: #fff;
    font-style: oblique;
    font-weight: 300;
    text-align: center;
    border: none;
    padding: 0;
    margin: 0 auto 0.85em;

    .tweet-meta {
      font-size: em(11px, 14px);
      font-style: normal;
      text-transform: uppercase;
      display: block;
      margin-top: 1.2em;
    }
    .tweet-time {
      color: #d4d2d1;
      text-decoration: none;
      margin-right: 1em;

      &:hover {
        color: #fff;
      }
    }
  }
}

/* Footer */
#footer {
  color: #fff;
  background: #1e1817;
}

#block-front-custom-front-vcard {
  font-weight: lighter;
  padding: em(21px, 14px) 0;

  h2, .org {
    @include element-invisible;
  }
  a {
    color: #ccc;
  }
  .adr {
    font-style: oblique;
  }
  .social-links {
    color: #ccc;
    float: right;

    a {
      vertical-align: top;
      background: url('../images/icon_vcard-links.png') no-repeat;
      display: inline-block;
      height: 20px;
      margin-left: 14px;
      @include hide-text;
    }
    .twitter {
      background-position: top left;
      width: 24px;

      &:hover {
        background-position: bottom left;
      }
    }
    .facebook {
      background-position: top right;
      width: 18px;

      &:hover {
        background-position: bottom right;
      }
    }
  }
}


/*         Column + Sidebar layout
------------------------------------------------*/
.panel-onecolsidebar {
  margin-bottom: 4em;

  .page-node & {
    margin-bottom: em(35px, 14px);
  }
  .panel-col-first {
    @include grid(8);
    @include grid-suffix(1);
  }
  .panel-col-last {
    @include grid(3);
    /*margin-top: em(-72px, 14px);*/

    .pane-title {
      color: #000;
      font-size: em(11px, 14px);
      text-transform: uppercase;
    }
    .panel-separator {
      clear: both;
      margin-bottom: em(35px, 14px);
    }
  }
}

/*         Front Page
------------------------------------------------*/
.page-home {
  #main {
    width: 100%;
    margin: -1px auto;

    .tabs,
    .panel-pane-inner {
      @include grid-container-center;
    }
  }

  .pane-home-featured-home {
    padding-top: em(44px, 14px);

    .view-content {
      overflow: hidden;
    }
    .skin-default {
      padding-bottom: em(48px, 14px);
      overflow: hidden;
    }
    .views-fields-wrapper {
      @include grid(7);
      padding-top: em(32px, 14px);
    }
    .views-field-title {
      font-family: $baseFontFamily;
      font-size: em(50px, 14px);
      font-weight: normal;
      line-height: 1em;
      letter-spacing: em(-2px, 50px);
      margin-bottom: em(19px, 50px);

      em {
        font-size: em(35px, 50px);
        font-style:normal;
      }
    }
    .views-field-body {
      margin-bottom: em(23px, 14px);

      p {
        font-size: em(20px, 14px);
        line-height: em(29px, 20px);
      }
    }
    .views-field-field-link {
      a {
        color: #fff;
        font-family: $helveticaFontFamily;
        font-size: em(18px, 14px);
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        text-shadow: 0 1px 0 rgba(0,0,0,0.35);
        display: inline-block;
        padding: em(14px, 18px) em(33px, 18px) em(16px, 18px);
        @include background-image(linear-gradient(#DF701F, #E68022 13%, #D14D1A));
        @include border-radius(6px);
        border: 1px solid #D14D1A;

        &:hover {
          @include box-shadow(0 0 2px #D14D1A);
        }
      }
    }
    .views-field-field-image {
      @include grid(5);
      text-align: center;

      img {
        display: inline-block;
        margin: 0 auto;
      }
    }
    .views-slideshow-controls-bottom {
      float: left;
      position: relative;
      left: 50%;
      margin-top: em(24px, 14px);
      margin-bottom: em(-38px, 14px);

      .widget_pager {
        float: left;
        position: relative;
        left: -50%;
      }
      .views-slideshow-pager-field-item {
        @include hide-text;
        background: transparent url('../images/bg_slideshow-pager.png') no-repeat top right;
        float: left;
        width: 14px;
        height: 14px;
        margin: 0 2px;

        &.active {
          background-position: top left;
        }
      }
    }
  }
  .pane-services-block-home {
    background: #eff2f4 url('../images/bg_home-services.png') repeat-x center top;
    padding: 2px 0 em(9px, 14px);

    .panel-pane-inner {
      background: transparent url('../images/bg_home-services-inner.jpg') no-repeat center top;
      overflow: hidden;
      padding-top: em(45px, 14px);
    }
    .pane-title {
      @include element-invisible;
    }
    .view-header {
      color: #4B5F6C;
      font-weight: 300;
      text-align: center;
      margin: em(32px, 14px) perc(120px, 960px) em(38px, 14px);

      p {
        font-size: em(25px, 14px);
        line-height: 1.46em;
      }
      a {
        color: #D14C19;

        &:hover {
          color: darken(#D14C19, 10%);
        }
      }
    }
    .views-row {
      @include grid(4.5);
      @include grid-prefix(1);
    }
    .views-row-odd {
      @include grid-suffix(0.5);
      clear: both;
    }
    .icon {
      background: transparent url('../images/icons_services-62px.png') no-repeat 0 0;
      float: left;
      width: 62px;
      height: 62px;
      margin-left: -80px;

      &.icon-drupal {
        background-position: 0 0;
      }
      &.icon-mobile {
        background-position: -62px 0;
      }
      &.icon-cms {
        background-position: -124px 0;
      }
      &.icon-marketing {
        background-position: -186px 0;
      }
      &.icon-commerce {
        background-position: -248px 0;
      }
      &.icon-applications {
        background-position: -310px 0;
      }
      a {
        @include hide-text;
        display: block;
        width: 62px;
        height: 62px;
      }
    }
    .views-field-title {
      font-family: $baseFontFamily;
      font-weight: normal;
      line-height: em(21px, 18px);
      margin-bottom: em(3px, 18px);
    }
    .views-field-body {
      margin-bottom: em(33px, 14px);
    }
  }
  .pane-projects-block-latest-projects {
    background: #DEE2E5 url('../images/bg_latest-projects.png') repeat-x center top;
    padding-top: em(45px, 14px);
    padding-bottom: em(30px, 14px);

    .pane-title {
      color: $linkColor;
      font-family: $helveticaFontFamily;
      font-size: em(11px, 14px);
      text-transform: uppercase;
      margin-left: 10px;
      margin-bottom: 0.65em;
    }
    .view-content {
      @include clearfix;
    }
    .views-row {
      @include grid(4);
    }
    .views-field-field-image {
      img {
        background-color: #fff;
        display: block;
        margin-bottom: 1em;
        padding: 7px;
        @include border-radius(1px);
      }
      a:hover img {
        @include box-shadow(0 0 3px lighten($linkColor, 40%));
      }
    }
    .views-field-title {
      font-family: $baseFontFamily;
      font-weight: normal;
    }
  }
}

.view-projects-block {
  text-align: center;

  .jcarousel-container-horizontal {
    margin: auto;
    padding: 0;
    width: 100%;
    height: auto;
  }
  .jcarousel-clip-horizontal {
    overflow: hidden;
    width: auto;
  }
  .jcarousel-item {
    text-align: left;
    margin: 0 10px;
  }
  .jcarousel-item-placeholder {
    background: url('throbber.gif') no-repeat scroll center center #FFFFFF;
    color: #000000;
  }
  .jcarousel-next,
  .jcarousel-prev {
    background: transparent url('../images/icons_arrows.png') no-repeat;
    display: block;
    height: 50px;
    width: 30px;
  }
  .jcarousel-next-disabled,
  .jcarousel-prev-disabled {
    display: none;
  }
  .jcarousel-prev-horizontal {
    background-position: left bottom;
    position: absolute;
    top: 75px;
    left: -40px;

    &:hover {
      background-position: left top;
    }
  }
  .jcarousel-next-horizontal {
    background-position: right bottom;
    position: absolute;
    top: 75px;
    right: -40px;

    &:hover {
      background-position: right top;
    }
  }
}

/*         Solutions
------------------------------------------------*/
.page-tjenester {
  #page-title {
    @include element-invisible;
  }
  #main {
    width: 100%;
    margin: -1px auto;

    .tabs,
    .panel-pane-inner {
      @include grid-container-center;
    }
  }
}

#panel-solutions {
  .pane-custom-solutions-intro {
    text-align: center;
    padding: em(72px, 14px) 0 em(40px, 14px);

    .pane-title {
      font-family: $baseFontFamily;
      font-size: em(50px, 14px);
      font-weight: normal;
      line-height: 1;
      letter-spacing: em(-2px, 50px);
      margin-bottom: em(12px, 50px);
    }
    .pane-content {
      @include grid(8.5);
      float: none;
      display: block;
      margin: 0 auto;

      p {
        font-size: em(20px, 14px);
        font-style: italic;
        line-height: em(29px, 20px);
      }
      a {
        color: #D14C19;

        &:hover {
          color: darken(#D14C19, 10%);
        }
      }
    }
  }

  .pane-services-block-solutions {
    background: #eff2f4 url('../images/bg_home-services.png') repeat-x center top;
    padding: 2px 0 em(9px, 14px);

    .panel-pane-inner {
      background: transparent url('../images/bg_home-services-inner.jpg') no-repeat center top;
      overflow: hidden;
    }
    .pane-title {
      @include element-invisible;
    }
    .view-content {
      margin: em(55px, 14px) 0;
      @include clearfix;
    }
    .views-row {
      @include grid(3);
      @include grid-prefix(1);
      margin-bottom: em(48px, 14px);
    }
    .views-row-4 {
      clear: both;
    }
    .icon {
      background: transparent url('../images/icons_services-62px.png') no-repeat 0 0;
      float: left;
      width: 62px;
      height: 62px;
      margin-left: -80px;

      &.icon-drupal {
        background-position: 0 0;
      }
      &.icon-mobile {
        background-position: -62px 0;
      }
      &.icon-cms {
        background-position: -124px 0;
      }
      &.icon-marketing {
        background-position: -186px 0;
      }
      &.icon-commerce {
        background-position: -248px 0;
      }
      &.icon-applications {
        background-position: -310px 0;
      }
      a {
        @include hide-text;
        display: block;
        width: 62px;
        height: 62px;
      }
    }
    .views-field-title {
      font-family: $baseFontFamily;
      line-height: em(21px, 18px);
      font-weight: normal;
      margin-bottom: em(3px, 18px);
    }
    .views-field-body p {
      margin-bottom: 0;
    }
    .views-field-field-link {
      font-size: em(13px, 14px);
      letter-spacing: em(-0.25px, 13px);
      white-space: nowrap;

      a:after {
        content: ' ››';
      }
    }
  }

  .pane-users-block-single {
    position: relative;

    .pane-content {
      width: perc(720px, 960px);
      margin: -52px auto;
    }
    .views-field-field-bio {
      @include grid(4.5);
    }
    .views-field-nothing {
      width: 200px;
    }
  }

  .pane-kompetanse-list {
    background: #dee2e5 url('../images/bg_latest-projects.png') repeat-x center top;
    padding-top: em(98px, 14px);
    padding-bottom: em(30px, 14px);

    .pane-title {
      color: #263A43;
      font-family: $baseFontFamily;
      font-size: em(30px, 14px);
      font-weight: normal;
      line-height: 1;
      text-align: center;
      margin-bottom: em(10px, 30px);
    }
    .view-header {
      text-align: center;
      @include grid(9);
      float: none;
      display: block;
      margin: 0 auto em(30px, 10px);

      p {
        font-size: em(18px, 14px);
        font-style: oblique;
        line-height: em(29px, 18px);
      }
    }
    .view-content {
      background-color: #fff;
      @include box-shadow(0 1px 2px rgba(0,0,0,0.1));
      @include clearfix;
      margin: 0 perc(10px, 960px) em(30px, 14px);
      padding: em(24px, 14px) perc(20px, 940px) em(16px, 14px);

      .column {
        display: inline;
        float: left;
        width: 20%;
      }
      h3 {
        font-family: $baseFontFamily;
        font-weight: normal;
        margin-bottom: 1em;
      }
      ul {
        margin: 0;
        list-style: none;

        li {
          font-size: em(13px, 14px);
          margin-bottom: em(9px, 13px);
        }
        a:after {
          content: ' ››';
        }
      }
    }
  }
}

.page-kompetanse,
.page-tjenester-term {
  .page-wrapper {
    background: #EFF2F4 url('../images/bg_home-services-inner.jpg') no-repeat center top;
  }
  #page-title {
    margin-top: em(72px, 50px);
    margin-left: 10px;
  }
}

#panel-tjenester,
#panel-kompetanse {
  .inside {
    margin: 0;
  }
  .panel-col-first {
    @include grid(8);
    @include grid-suffix(1);
    margin-bottom: 4em;
  }
  .panel-col-last {
    @include grid(3);
    margin-top: em(-72px, 14px);
  }
  .pane-term-description {
    p {
      color: #333;
      font-family: $altFontFamily;
      font-size: em(20px, 14px);
      font-style: oblique;
      line-height: 1.5em;
    }
  }
  .pane-tjenester-teasers {
    .views-row {
      background: transparent url('../images/bg_teaser-dashed-border.png') repeat-x left bottom;
      padding: em(50px, 14px) 0 em(50px, 14px);
      overflow: hidden;
    }
    .views-row-first {
      padding-top: em(50px, 14px);
    }
    .views-row-last {
      background: none;
    }
    .views-field-field-image {
      @include grid(2);
      @include alpha;
      @include grid-suffix(0.5);
    }
    .views-field-title {
      font-size: em(22px, 14px);
      line-height: em(36px, 22px);
      margin-bottom: em(9px, 22px);

      a {
        color: #000;
      }
    }
  }
  .pane-taxonomy-menu-tjenester,
  .pane-taxonomy-menu-kompetanse {
    .pane-title {
      color: #000;
      font-size: em(11px, 14px);
      text-transform: uppercase;
    }
  }
}

.pane-users-block-single,
.pane-users-block-referenced {
  position: relative;

  .pane-content {
    height: 96px;
    background-color: #BECFD8;
    @include background-image(linear-gradient(lighten(#BECFD8, 0.5%), darken(#B9CDD6, 0.5%)));
    @include background-clip(padding-box);
    border: 4px solid #BECED8;
    @include border-radius(51px);
    overflow: hidden;
  }
  .view-content {
    padding: 21px 25px 0;
  }
  .views-field-field-image {
    @include grid(1);
    @include omega;

    img {
      display: inline-block;
      background-color: #fff;
      padding: 3px;
    }
    a:hover img {
      background-color: rgba(255,255,255,0.75);
    }
  }
  .views-field-field-name {
    font-family: $baseFontFamily;
    font-size: 1em;
    font-weight: normal;
    line-height: 1;
    @include grid(4.5);

    a {
      color: #D14C19;
      &:hover {
        color: darken(#D14C19, 10%);
      }
    }
  }
  .views-field-field-bio {
    color: #535353;
    font-style: oblique;
    line-height: 1.5em;
    @include grid(4.25);
  }
  .views-field-nothing {
    float: right;
    width: 130px;
    @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
    background-color: #A5B4BC;
    margin-top: em(-11px, 14px);
    padding: 4px;
    @include border-radius(26px);

    a {
      color: #fff;
      font-family: $helveticaFontFamily;
      font-weight: bold;
      font-size: em(15px, 14px);
      text-align: center;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(0,0,0,0.35);
      @include background-image(linear-gradient(#ECAD7D, #E37D29 5%, #E68328 10%, #D2521D));
      display: block;
      padding: em(10px, 15px) 0 em(11px, 15px);
      border: 1px solid #D14D1A;
      border-color: #E39476 #DE7E50 #D14D1A;
      @include border-radius(22px);

      &:hover {
        text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
        @include box-shadow(0 0 4px rgba(0,0,0,0.25));
      }
    }
  }
}

/*         How we work
------------------------------------------------*/
.page-slik-jobber-vi {
  #page-title {
    @include element-invisible;
  }
  #main {
    width: 100%;
    margin: -1px auto;

    .tabs,
    .panel-pane-inner {
      @include grid-container-center;
    }
  }
}

#panel-slikjobbervi {
  background: #EFF2F4;

  .inside {
    margin: 0;
  }
  .center-wrapper {
    @include grid-container-center;
    background: transparent url('../images/bg_home-services-inner.jpg') no-repeat center top;
    padding-top: em(60px, 14px);
    padding-bottom: em(10px, 14px);
    @include clearfix;

    .inside {
      @include grid(5);
      @include grid-prefix(0.3);
      @include grid-suffix(0.3);
      background-color: #fff;
      @include box-shadow(0 0 1px rgba(0,0,0,0.075));

      &:after {
        content: '';
        background: transparent url('../images/bg_panel-col-shadow.png') no-repeat right top;
        display: block;
        width: 100%;
        height: 13px;
        margin-left: -24px;
        margin-bottom: -13px;
        padding: 0 24px;
      }
    }
    .panel-col-last .inside {
      float: right;
    }
  }

  .panel-col-bottom {
    .inside {
      @include grid-container-center;
    }
  }

  .pane-custom-howwework-intro {
    text-align: center;
    background-color: #fff;
    padding: em(72px, 14px) 0 em(40px, 14px);

    .pane-title {
      font-family: $baseFontFamily;
      font-size: em(50px, 14px);
      font-weight: normal;
      line-height: 1;
      letter-spacing: em(-2px, 50px);
      margin-bottom: em(12px, 50px);
    }
    .pane-content {
      @include grid(8.5);
      float: none;
      display: block;
      margin: 0 auto;

      p {
        font-size: em(20px, 14px);
        font-style: italic;
        line-height: em(29px, 20px);
      }
      a {
        color: #D14C19;

        &:hover {
          color: darken(#D14C19, 10%);
        }
      }
    }
  }

  .center-wrapper {
    .pane-custom {
      padding-top: em(53px, 14px);
      padding-bottom: em(22px, 14px);

      .pane-title {
        font-family: $baseFontFamily;
        font-size: em(30px, 14px);
        font-weight: normal;
        line-height: em(32px, 30px);
        padding-left: em(63px, 30px);
      }
      .pane-content {
        padding-top: em(30px, 14px);

        p {
          font-size: em(16px, 14px);
          font-style: oblique;
          line-height: 1.2em;
          text-align: center;
        }
      }
    }
    .panel-separator {
      background: transparent url('../images/bg_hww-panel-separator.png') repeat-x left center;
      height: 12px;
      margin: 0 em(-19px, 14px);
    }
    .pane-node {
      color: #525252;
      padding: em(25px, 14px) em(6px, 14px);
    }
  }

  .pane-custom-howwework-utvikle {
    .pane-title {
      color: #44799D;
      background: transparent url('../images/icons_howwework-title.png') no-repeat 6px top;
    }
    .pane-content {
      ol {
        color: #44799D;
        font-family: $helveticaFontFamily;
        font-size: em(11px, 14px);
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #fff;
        background: #DBE0E2;
        margin: em(30px, 11px) 0 em(50px, 11px);
        list-style: none;
        @include border-radius(2px);
        overflow: hidden;

        li {
          background: url('../images/bg_process-arrow-white.png') no-repeat right center;
          float: left;
          padding: em(34px, 11px) em(16px, 11px) em(34px, 11px) em(9px, 11px);

          &:last-child {
            background: none;
            padding-right: 11px;
          }
        }
      }
    }
  }
  .field-name-body {
    p {
      margin-bottom: 1.5em;
    }
    ul {
      margin-left: 1.2em;

      li {
        line-height: em(18px, 14px);
        background: transparent url('../images/icon_bullet-plus-blue.png') no-repeat left 0.25em;
        padding-left: em(34px, 14px);
        margin-bottom: em(18px, 14px);
        list-style: none;
      }
    }
  }
  .panel-col-last .field-name-body {
    a {
      color: #72C66D;
      &:hover {
        color: darken(#72C66D, 20%);
      }
    }
    ul li {
      background-image: url('../images/icon_bullet-plus-green.png');
    }
  }

  .pane-custom-howwework-optimere {
    .pane-title {
      color: #17593D;
      background: transparent url('../images/icons_howwework-title.png') no-repeat 6px bottom;
    }
    .pane-content {
      ol {
        @include hide-text;
        background: url('../images/bg_process-circle.png') no-repeat;
        width: 262px;
        height: 262px;
        margin: 0 auto;
      }
      p {
        margin-top: em(25px, 14px);
      }
    }
  }

  .pane-users-block-single {
    padding: em(65px, 14px) 0;

    .pane-content {
      width: perc(720px, 960px);
      height: 96px;
      margin: 0 auto;
      background-color: #BECFD8;
      @include background-image(linear-gradient(lighten(#BECFD8, 0.5%), darken(#B9CDD6, 0.5%)));
      @include background-clip(padding-box);
      border: 4px solid #BECED8;
      @include border-radius(51px);
      overflow: hidden;
    }
    .view-content {
      padding: 21px 25px 0;
    }
    .views-field-field-image {
      @include grid(1);
      @include omega;

      img {
        display: inline-block;
        background-color: #fff;
        padding: 3px;
      }
      a:hover img {
        background-color: rgba(255,255,255,0.75);
      }
    }
    .views-field-field-name {
      font-family: $baseFontFamily;
      font-size: 1em;
      font-weight: normal;
      line-height: 1;
      @include grid(4.5);

      a {
        color: #D14C19;
        &:hover {
          color: darken(#D14C19, 10%);
        }
      }
    }
    .views-field-field-bio {
      color: #535353;
      font-style: oblique;
      line-height: 1.5em;
      @include grid(4.5);
    }
    .views-field-nothing {
      float: right;
      width: 200px;
      @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
      background-color: #A5B4BC;
      margin-top: em(-11px, 14px);
      padding: 4px;
      @include border-radius(26px);

      a {
        color: #fff;
        font-family: $helveticaFontFamily;
        font-weight: bold;
        font-size: em(15px, 14px);
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(0,0,0,0.35);
        @include background-image(linear-gradient(#ECAD7D, #E37D29 5%, #E68328 10%, #D2521D));
        display: block;
        padding: em(10px, 15px) 0 em(11px, 15px);
        border: 1px solid #D14D1A;
        border-color: #E39476 #DE7E50 #D14D1A;
        @include border-radius(22px);

        &:hover {
          text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
          @include box-shadow(0 0 4px rgba(0,0,0,0.25));
        }
      }
    }
  }

}

/*         Contact
------------------------------------------------*/
.page-kontakt {
  #page-title {
    @include element-invisible;
  }
  .page-wrapper {
    background: #EFF2F4 url('../images/bg_home-services-inner.jpg') no-repeat center top;
  }
}

#panel-kontakt {
  .inside {
    margin: 0;
  }
  .panel-col-first {
    @include grid(8);
    @include grid-suffix(1);
    padding-top: em(70px, 14px);
    margin-bottom: 4em;
  }
  .panel-col-last {
    @include grid(3);
    margin-top: em(78px, 14px);
  }

  .webform-client-block {
    .pane-title {
      font-size: em(50px, 14px);
      line-height: 1.2em;
      letter-spacing: em(-2px, 50px);
      margin-bottom: em(18px, 50px);
      padding-left: em(4px, 50px);
    }
    header, label {
      @include element-invisible;
    }
    .field-name-body {
      padding-left: em(3px, 14px);

      p {
        font-family: $altFontFamily;
        font-size: em(20px, 14px);
        font-style: oblique;
        line-height: 1.5em;
        margin-bottom: em(24px, 20px);
      }
    }
    form {
      background: #F9FAFB;
      border: 1px solid #D3E2E2;
      padding: em(25px, 14px) perc(25px, 611px);
      @include clearfix;
    }
    .form-text,
    .form-textarea,
    .form-select {
      color: #454545;
      font-family: $helveticaFontFamily;
      font-size: em(18px, 14px);
      line-height: 1em;
      margin-bottom: em(20px, 18px);
      padding: em(17px, 18px);
      background-color: #EFEFEF;
      border-color: #ccc;
      @include border-radius(1px);
      @include input-placeholder(#454545);

      &:focus {
        background-color: #fff;
      }
    }
    .form-text {
      width: perc(532px, 568px);
    }
    .form-select {
      height: 1.9em;
      padding: 2px 2px 2px em(17px, 18px);

      .js & {
        margin-top: em(-60px, 18px);
        @include opacity(0);
        z-index: 0;
      }
    }
    .form-textarea,
    .form-select {
      width: 100%;
    }
    .form-textarea {
      font-size: 1em;
      height: em(188px, 14px);
      margin-bottom: em(20px, 14px);

      &:-moz-placeholder {
        font-size: em(18px, 14px);
        height: em(188px, 18px);
        margin-bottom: em(20px, 18px);
      }
      &::-webkit-input-placeholder {
        font-size: em(18px, 14px);
        height: em(188px, 18px);
        margin-bottom: em(20px, 18px);
      }
    }
    .customStyleSelectBox {
      font-family: $helveticaFontFamily;
      font-size: em(18px, 14px);
      background: #efefef url('../images/icon_select-dropdown.png') no-repeat right center;
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
      border: 1px solid #ccc;
      @include border-radius(1px);
      width: perc(532px, 568px);
      padding: em(17px, 18px);
      position: relative;
      z-index: 0;

      &:focus {
        background-color: #fff;
      }
    }
    #webform-component-alternative {
      float: right;

      p {
        font-size: em(13px, 14px);
        margin: em(18px, 13px) 0 0;
      }
    }
    .form-actions {
      background: #DADBDB;
      @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
      border: none;
      float: left;
      margin: 0 0 em(-10px, 15px);
      padding: 3px;
      border: 1px solid #D6D7D8;
      @include border-radius(em(26px, 15px));

      input {
        color: #fff;
        font-family: $helveticaFontFamily;
        font-size: em(15px, 14px);
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(0,0,0,0.35);
        @include background-image(linear-gradient(#8CB2C8 3%, #619BBA 6%, #2C83AD, #437CA1));
        width: em(196px, 15px);
        margin: 0;
        padding: em(11px, 15px) 0;
        border: 1px solid #44799D;
        border-color: #8FAFC4 #437EA2 #44799D;
        @include border-radius(em(22px, 15px));
      }
    }
  }
  .pane-custom-front-kontakt {
    padding-left: perc(270px, 620px);

    .pane-title {
      font-family: $baseFontFamily;
      font-size: em(20px, 14px);
      font-weight: normal;
      line-height: 1em;
      overflow: hidden;
      margin-bottom: em(16px, 20px);
    }
    .pane-content {
      img {
        float: left;
        display: block;
        width: perc(235px, 350px);
        height: auto;
        margin-top: em(-36px, 14px);
        margin-left: perc(-270px, 350px);
        padding: 9px;
        background-color: #fff;
        border: 1px solid #D3E2E2;
      }
      ul {
        color: #454545;
        font-size: em(15px, 14px);
        margin: 0;

        li {
          list-style: none;
          margin-bottom: 1em;

          &:first-child {
            float: left;
            margin-right: 1.5em;
          }
        }
        strong {
          color: #999;
          font-size: em(13px, 15px);
          font-weight: normal;
          display: block;

          &.inline {
            display: inline-block;
          }
        }
      }
    }
  }
  .pane-custom-gamlebyen-fredrikstad {
    clear: both;
    padding-left: perc(270px, 620px);

    .pane-title {
      @include element-invisible;
    }
    .pane-content {
      padding-top: 1px;

      p {
        color: #4B5F6C;
        font-size: em(18px, 14px);
        font-style: oblique;
        line-height: 1.46em;
        letter-spacing: em(-0.2px, 18px);
      }
    }
    img {
      float: left;
      display: block;
      width: perc(235px, 350px);
      height: auto;
      margin-left: perc(-270px, 350px);
      padding: 9px;
      background-color: #fff;
      border: 1px solid #D3E2E2;
    }
  }
  .panel-col-first .panel-separator {
    clear: both;
    margin-bottom: em(21px, 14px);
  }
}

/*         Support
------------------------------------------------*/
.page-support {
  #page-title {
    margin-top: em(75px, 50px);
    margin-left: 10px;
  }
  .page-wrapper {
    background: #EFF2F4 url('../images/bg_home-services-inner.jpg') no-repeat center top;
  }
}

#panel-support {
  .inside {
    margin: 0;
  }
  .panel-col-first {
    @include grid(8);
    @include grid-suffix(1);
    margin-bottom: 4em;
  }
  .panel-col-last {
    @include grid(3);
    margin-top: em(-70px, 14px);
  }

  .pane-custom-support-intro {
    p {
      font-family: $altFontFamily;
      font-size: em(20px, 14px);
      font-style: oblique;
      line-height: 1.5em;
      margin-bottom: em(32px, 20px);
    }
  }
  .pane-custom-support-video {
    background: transparent url('../images/bg_teaser-dashed-border.png') repeat-x left bottom;
    margin-bottom: em(34px, 14px);
    padding-bottom: em(24px, 14px);
    overflow: hidden;

    .pane-content {
      img {
        float: left;
        display: block;
        background-color: #fff;
        border: 1px solid #D3E2E2;
        margin: -0.35em 2.25em 1em 0;
        padding: 9px;
      }
      p {
        line-height: 1.7em;
        margin: 1.15em 0;
      }
    }
  }
  .pane-custom-front-kontaktinfo {
    .pane-title {
      font-size: em(11px, 14px);
      text-transform: uppercase;
    }
    .pane-content {
      background-color: #D3DDE2;
      padding: 5px;
    }
    ul {
      border: 1px dashed #72858C;
      margin: 0;
      padding: em(15px, 14px) em(15px, 14px) em(2px, 14px);
      @include border-radius(2px);

      li {
        color: #454545;
        font-size: em(18px, 14px);
        font-weight: 300;
        list-style: none;
        margin-bottom: em(12px, 18px);

        a {
          color: #44799D;
        }
        strong {
          color: #666;
          font-size: em(13px, 18px);
          font-weight: 300;
          line-height: 1;
          display: block;
        }
      }
    }
  }
  .webform-client-block {
    header, label {
      @include element-invisible;
    }
    form {
      background: #F9FAFB;
      border: 1px solid #D3E2E2;
      padding: em(25px, 14px) perc(25px, 611px);
      @include clearfix;
    }
    .form-text,
    .form-textarea {
      color: #454545;
      font-family: $helveticaFontFamily;
      font-size: em(18px, 14px);
      line-height: 1em;
      margin-bottom: em(20px, 18px);
      padding: em(17px, 18px);
      background-color: #EFEFEF;
      border-color: #ccc;
      @include border-radius(1px);
      @include input-placeholder(#454545);

      &:focus {
        background-color: #fff;
      }
    }
    .form-text {
      width: perc(532px, 568px);
    }
    .form-textarea {
      width: 100%;
    }
    .form-textarea {
      font-size: 1em;
      height: em(188px, 14px);
      margin-bottom: em(20px, 14px);

      &:-moz-placeholder {
        font-size: em(18px, 14px);
        height: em(188px, 18px);
        margin-bottom: em(20px, 18px);
      }
      &::-webkit-input-placeholder {
        font-size: em(18px, 14px);
        height: em(188px, 18px);
        margin-bottom: em(20px, 18px);
      }
    }
    .customStyleSelectBox {
      font-family: $helveticaFontFamily;
      font-size: em(18px, 14px);
      background: #efefef url('../images/icon_select-dropdown.png') no-repeat right center;
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
      border: 1px solid #ccc;
      @include border-radius(1px);
      width: perc(532px, 568px);
      padding: em(17px, 18px);
      position: relative;
      z-index: 0;

      &:focus {
        background-color: #fff;
      }
    }
    #webform-component-alternative {
      float: right;

      p {
        font-size: em(13px, 14px);
        margin: em(18px, 13px) 0 0;
      }
    }
    .form-actions {
      background: #DADBDB;
      @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
      border: none;
      float: left;
      margin: 0 0 em(-10px, 15px);
      padding: 3px;
      border: 1px solid #D6D7D8;
      @include border-radius(em(26px, 15px));

      input {
        color: #fff;
        font-family: $helveticaFontFamily;
        font-size: em(15px, 14px);
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(0,0,0,0.35);
        @include background-image(linear-gradient(#8CB2C8 3%, #619BBA 6%, #2C83AD, #437CA1));
        width: em(196px, 15px);
        margin: 0;
        padding: em(11px, 15px) 0;
        border: 1px solid #44799D;
        border-color: #8FAFC4 #437EA2 #44799D;
        @include border-radius(em(22px, 15px));
      }
    }
  }
}

/*         Employees
------------------------------------------------*/
.page-medarbeidere {
  .page-wrapper {
    background: #EFF2F4 url('../images/bg_home-services-inner.jpg') no-repeat center top;
  }
  #page-title {
    margin-top: em(75px, 50px);
    margin-left: 10px;
  }
}

#panel-medarbeidere {
  .inside {
    margin: 0;
  }
  .panel-col-first {
    @include grid(8);
    @include grid-suffix(1);
  }
  .panel-col-last {
    @include grid(3);
    margin-top: em(-70px, 14px);
  }
  .view-employees {
    .view-header {
      margin-bottom: em(24px, 14px);

      p {
        color: #333;
        font-family: $altFontFamily;
        font-size: em(20px, 14px);
        font-style: oblique;
        line-height: 1.5em;
      }
    }
    .view-content {
      overflow: hidden;
      margin-bottom: em(50px, 14px);
    }
    .views-row {
      @include grid(3.75);
      margin: 2px 0 -2px;
      padding: em(19px, 14px) 0;
      border-bottom: 2px dotted #B6BABC;
    }
    .views-row-odd {
      clear: both;
      padding-right: em(19px, 14px);
      border-right: 2px dotted #B6BABC;
    }
    .views-row-even {
      padding-left: em(19px, 14px);
    }
    .views-field-field-image {
      float: left;
      margin-right: 10px;

      img {
        display: block;
        background-color: #FFF;
        padding: 9px;
        border: 1px solid #D3E2E2;
      }
    }
    .views-field-field-name {
      font-size: em(16px, 14px);
      font-weight: 300;
      line-height: 1em;
      margin: em(8px, 16px) 0 em(7px, 16px);
    }
    .views-field-field-title {
      color: #666;
      font-size: em(13px, 14px);
      font-weight: 300;
      line-height: 1em;
      margin-bottom: em(10px, 13px);
    }
    .views-field-mail,
    .views-field-url {
      font-size: em(13px, 14px);
      a {
        color: #44799D;
      }
    }
    .views-field-nothing {
      overflow: hidden;

      a {
        @include hide-text;
        background: transparent url('../images/icons_user-socialmedia.png') no-repeat;
        float: left;
        width: 22px;
        height: 17px;

        &.link-twitter {
          background-position: 0 0;
        }
        &.link-facebook {
          background-position: -44px 0;
        }
        &.link-linkedin {
          background-position: -22px 0;
        }
      }
    }
  }
}

/*         Employees
------------------------------------------------*/
.page-blogg {
  .page-wrapper {
    background: #EFF2F4 url('../images/bg_home-services-inner.jpg') no-repeat center top;
  }
  #page-title {
    margin-top: em(72px, 50px);
    margin-left: 10px;
  }
}

#panel-blogg {
  .inside {
    margin: 0;
  }
  .panel-col-first {
    @include grid(8);
    @include grid-suffix(1);
    margin-bottom: 4em;
  }
  .panel-col-last {
    @include grid(3);
    margin-top: em(-70px, 14px);
  }

  .view-blog {
    .view-header {
      p {
        color: #333;
        font-family: $altFontFamily;
        font-size: em(20px, 14px);
        font-style: oblique;
        line-height: 1.5em;
      }
    }
    .views-row {
      background: transparent url('../images/bg_teaser-dashed-border.png') repeat-x left bottom;
      padding: em(50px, 14px) 0 em(50px, 14px);
      overflow: hidden;
    }
    .views-row-first {
      padding-top: em(50px, 14px);
    }
    .views-row-last {
      background: none;
    }
    .views-field-field-image {
      @include grid(2);
      @include alpha;
      @include grid-suffix(1);

      img {
        background-color: #E2E5E7;
        padding: em(7px, 14px);
        @include border-radius(2px);
        @include transition-property(background-color);
        @include transition-duration(0.5s);

        &:hover {
          background-color: #CCC;
        }
      }
    }
    .views-field-title {
      font-size: em(22px, 14px);
      line-height: em(24px, 22px);
      margin: em(3px, 22px) 0;

      a {
        color: #000;
      }
    }
    .views-field-created {
      color: #999;
      font-size: em(12px, 14px);
    }
    .views-field-body {
      margin-bottom: 0.333em;
    }
    .views-field-view-node {
      font-size: em(11px, 14px);
      text-transform: uppercase;

      a {
        color: #fff;
        text-decoration: none;
        background-color: #999;
        display: inline-block;
        padding: 0 0.5em;
        @include border-radius(3px);
        @include transition-property(background-color);
        @include transition-duration(0.5s);

        &:hover {
          background-color: $linkColor;
        }
      }
    }
    .pagination {
      a, span {
        line-height: em(35px, 14px);
      }
    }
  }
}

/*         Nodes
------------------------------------------------*/
.page-node {
  .page-wrapper {
    background: #EFF2F4 url('../images/bg_home-services-inner.jpg') no-repeat center top;
  }
  #page-title {
    width: perc(620px, 960px);
    margin-top: em(72px, 50px);
    margin-left: 10px;
  }
  #main {
    margin-top: em(75px, 14px);
  }

  .pane-node-field-image {
    margin-bottom: em(25px, 14px);
    img {
      display: inline-block;
      padding: 9px;
      background-color: #fff;
      border: 1px solid #D3E2E2;
    }
  }
  .field-name-field-subheading {
    font-family: $altFontFamily;
    font-size: em(20px, 14px);
    font-style: oblique;
    line-height: 1.5em;
    margin-bottom: 2.45em;
  }
  .field-name-body {
    line-height: 1.71em;

    p {
      line-height: 1.71em;
      margin-bottom: 1em;
    }
  }
  .field-name-field-files {
    padding-left: 24px;

    .field-label {
      float: left;
      @include hide-text;
      background: transparent url('../images/icon_download.png') no-repeat center center;
      width: 21px;
      height: 21px;
      margin-left: -24px;
      margin-right: 3px;
    }
    .field-item {
      margin-bottom: 0.5em;
      img {
        background: none;
        border: none;
        margin-top: -3px;
        padding: 0;
      }
    }
    /* Table option */
    table {
      tbody {
        font-size: em(11px, 14px);

        td {
          vertical-align: middle;
        }
        img {
          background: none;
          border: none;
          padding: 0;
        }
        .file {
          font-size: em(13px, 11px);
        }
      }
    }
  }
  .field-name-field-tags {
    padding-left: 24px;

    .field-label {
      float: left;
      @include hide-text;
      background: transparent url('../images/icon_tag.png') no-repeat center center;
      width: 21px;
      height: 21px;
      margin-left: -24px;
      margin-right: 3px;
    }
    ul.links {
      font-size: em(11px, 14px);
      margin-left: 0;
      padding: 0;

      li {
        display: inline;
        list-style: none;
      }
      a {
        color: #fff;
        text-decoration: none;
        background-color: #999;
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        padding: 0 1em;
        @include border-radius(1em);
        @include transition-property(background-color);
        @include transition-duration(0.5s);

        &:hover {
          background-color: $linkColor;
        }
      }
    }
  }
  .node-full {
    img {
      display: inline-block;
      padding: 9px;
      background-color: #fff;
      border: 1px solid #D3E2E2;

      &.align-right {
        margin: 0 0 em(20px, 14px) em(20px, 14px);
      }
      &.align-left {
        margin: 0 em(20px, 14px) em(20px, 14px) 0;
      }
    }
    hr {
      background: transparent url('../images/bg_teaser-dashed-border.png') repeat-x left center;
      height: 3px;
      margin: em(40px, 14px) 0;
      border: none;
    }
    blockquote {
      @extend .blockquote;
    }
    .field {
      margin-bottom: em(35px, 14px);
    }
  }
}

.pane-related-related,
.pane-related-reverse {
  .pane-content {
    background-color: #D3DDE2;
    padding: 5px;
  }
  .view-content {
    border: 1px dashed #72858C;
    @include border-radius(2px);
    ul {
      color: #454545;
      li {
        line-height: 1em;
        margin: 1.5em 0.5em 1.5em 0;
      }
      a {
        color: #44799D;
      }
    }
  }
}

/*         Forms
------------------------------------------------*/
.page-search {
  .page-wrapper {
    background: #EFF2F4 url('../images/bg_home-services-inner.jpg') no-repeat center top;
  }
  #page-title {
  }
  #main {
    margin-top: em(75px, 14px);
    margin-bottom: em(75px, 14px);
  }
}

/*         Forms
------------------------------------------------*/

/* Remove >> */
.not-logged-in .tabs,
.breadcrumb {
  display: none;
}
/* << Remove */
