/*         General Sitewide Styles
------------------------------------------------*/
/* Layout */
#main, #header, #footer {
  @include grid-container-center;
}

/* General Styles (Colors, Backgrounds etc.) */
html, body {
  background: #1e1817;
}

.page-wrapper {
  background: #fff;
  padding: 1px 0; /* force box without overflow hidden */
}

/* Typography */

/* Links */

/* Header */
.header-wrapper {
  background: #302725;
}

#header {
  h1 {
    display: inline-block;
    line-height: 1;
    margin-top: em(2px, 30px);

    a {
      display: inline-block;
      padding: em(10px, 30px) 0 0;
    }
    img {
      display: block;
    }
  }

  .search-form {
    height: 25px;
    position: absolute;
    top: em(12px, 14px);
    right: 1em;

    .form-text {
      @include input-placeholder(#fff);
      background: #fff url('../images/icon_search-textfield.png') no-repeat center right;
      width: 1em;
      padding: 4px 10px 3px;
      border: none;
      @include border-radius(1.15em);
      @include box-shadow(inset 0 1px 0 #000);
      margin: 0;
      visibility: hidden;

      @include transition-property(all);
      @include transition-duration(0.15s);
      @include transition-timing-function(ease-in);
    }
    .form-submit {
      display: block;
      position: absolute;
      top: -2px;
      right: 2px;
      @include box-shadow(none);
    }
    &.search-active {
      .form-text {
        @include input-placeholder(#666);
        visibility: visible;
        width: 20em;
      }
      .form-submit {
        @include opacity(0);
      }
    }
  }
}

#main-menu {
  font-family: $helveticaFontFamily;
  float: right;
  margin-right: em(50px, 14px);

  .main-menu {
    li {
      float: left;
    }
    a {
      color: #efefef;
      display: inline-block;
      padding: em(14px, 14px) em(12px, 14px) em(16px, 14px);
      @include transition-property(background);
      @include transition-duration(0.75s);

      &:hover,
      &:focus {
        background: rgba(0,0,0,0.2);
      }
      &.active {
        background: rgba(0,0,0,0.1);
      }
    }
  }
}

/* Sidebars */

/* Postscript */
#postscript {
  background-color: #302725;
  padding-top: em(35px, 14px);
  overflow: hidden;
}

.block-panels-mini {
  color: #fff;
  margin-bottom: em(50px, 14px);

  .content {
    @include grid-container-center;
  }
}

.pane-blog-block-latest-posts {
  .pane-title {
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
  }
  article {
    @include grid-prefix(1);
    margin-top: 22px;
  }
  .views-field-field-image {
    float: left;
    margin-left: -80px;

    img {
      background-color: #1e1718;
      display: inline-block;
      padding: 7px;
      @include border-radius(2px);
      @include transition-property(background-color);
      @include transition-duration(0.5s);
    }
    a:hover img {
      background-color: #403a3a;
    }
  }
  .views-field-title {
    font-size: em(18px, 14px);
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 0.2em;
  }
  .views-field-created {
    color: #B9B6B6;
    font-size: em(12px, 14px);
  }
  .views-field-body {
    margin-bottom: 0.333em;
  }
  .views-field-view-node {
    font-size: em(11px, 14px);
    text-transform: uppercase;

    a {
      text-decoration: none;
      background-color: #1e1718;
      display: inline-block;
      padding: 0 0.5em;
      @include border-radius(5px);
      @include transition-property(all);
      @include transition-duration(0.5s);

      &:hover {
        color: #B9B6B6;
        background-color: #403a3a;
      }
    }
  }
}

.pane-front-custom-front-support {
  .pane-title {
    @include element-invisible;
  }
  .pane-content {
    margin-top: em(10px, 14px);

    p {
      font-size: em(18px, 14px);
      font-weight: 400;
      line-height: 1.44em;
      margin-bottom: 1em;
    }

    .links {
      margin: 0;
      list-style: none;
      overflow: hidden;

      li {
        float: left;
        margin-right: 1.4em;
      }
      a {
        color: #fff;
        font-family: $helveticaFontFamily;
        font-size: em(15px, 14px);
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        text-shadow: 0 1px 0 rgba(0,0,0,0.35);
        display: inline-block;
        width: em(173px, 15px);
        margin: 3px;
        padding: 1em 0;
        @include box-shadow(0 1px 0 rgba(0,0,0,0.2));
        @include border-radius(6px);
      }
      .contact a {
        @include background-image(linear-gradient(#DF701F, #E68022 13.13%, #D14D1A));
        border: 1px solid #d14d1a;

        &:hover {
          @include box-shadow(0 0 2px #d14d1a);
        }
      }
      .support a {
        @include background-image(linear-gradient(#78DDFB, #78DDFB 13.13%, #5B9EC3));
        border: 1px solid #639EB3;

        &:hover {
          @include box-shadow(0 0 2px #639EB3);
        }
      }
    }
  }
}

.block-twitter-pull {
  background: transparent url('../images/bg_twitter-pull.png') repeat-x center 24px;

  .content {
    @include grid-container-center;
  }
  .tweet-author {
    width: 50px;
    margin: 0 auto em(17px, 24px);

    a {
      @include hide-text;
      background: transparent url('../images/icon_twitter-tweet.png') no-repeat center center;
      display: block;
      width: 50px;
      height: 50px;
      @include transition-property(transform);
      @include transition-duration(0.5s);

      &:hover {
        @include rotate(-15deg);
      }
    }
  }
  blockquote {
    color: #fff;
    font-style: oblique;
    font-weight: 300;
    text-align: center;
    border: none;
    padding: 0;
    margin: 0 auto 0.85em;

    .tweet-meta {
      font-size: em(11px, 14px);
      font-style: normal;
      text-transform: uppercase;
      display: block;
      margin-top: 1.2em;
    }
    .tweet-time {
      color: #d4d2d1;
      text-decoration: none;
      margin-right: 1em;

      &:hover {
        color: #fff;
      }
    }
  }
}

/* Footer */
#footer {
  color: #fff;
  background: #1e1817;
}

#block-front-custom-front-vcard {
  font-weight: lighter;
  padding: em(21px, 14px) 0;

  h2, .org {
    @include element-invisible;
  }
  a {
    color: #ccc;
  }
  .adr {
    font-style: oblique;
  }
  .social-links {
    color: #ccc;
    float: right;

    a {
      vertical-align: top;
      background: url('../images/icon_vcard-links.png') no-repeat;
      display: inline-block;
      height: 20px;
      margin-left: 14px;
      @include hide-text;
    }
    .twitter {
      background-position: top left;
      width: 24px;

      &:hover {
        background-position: bottom left;
      }
    }
    .facebook {
      background-position: top right;
      width: 18px;

      &:hover {
        background-position: bottom right;
      }
    }
  }
}

/*         Front Page
------------------------------------------------*/
.page-home {
  #main {
    width: 100%;
    margin: -1px auto;

    .tabs,
    .panel-pane-inner {
      @include grid-container-center;
    }
  }

  .pane-home-featured-home {
    padding-top: em(48px, 14px);

    .view-content {
      overflow: hidden;
    }
    .views_slideshow_main {
      margin-bottom: 1em;
    }
    .views-fields-wrapper {
      @include grid(7);
      padding-top: em(32px, 14px);
    }
    .views-field-title {
      font-size: em(50px, 14px);
      font-weight: normal;
      letter-spacing: em(-2px, 50px);
      margin-bottom: em(19px, 50px);
    }
    .views-field-body {
      margin-bottom: em(23px, 14px);

      p {
        font-size: em(20px, 14px);
        line-height: em(29px, 20px);
      }
    }
    .views-field-field-link {
      a {
        color: #fff;
        font-family: $helveticaFontFamily;
        font-size: em(18px, 14px);
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        text-shadow: 0 1px 0 rgba(0,0,0,0.35);
        display: inline-block;
        width: em(173px, 18px);
        padding: em(14px, 18px) 0 em(16px, 18px);
        @include background-image(linear-gradient(#DF701F, #E68022 13%, #D14D1A));
        @include border-radius(6px);
        border: 1px solid #D14D1A;

        &:hover {
          @include box-shadow(0 0 2px #D14D1A);
        }
      }
    }
    .views-field-field-image {
      @include grid(5);
      text-align: center;

      img {
        display: inline-block;
        margin: 0 auto;
      }
    }
    .views-slideshow-controls-bottom {
      float: left;
      position: relative;
      left: 50%;
      margin-bottom: em(10px, 14px);

      .widget_pager {
        float: left;
        position: relative;
        left: -50%;
      }
      .views-slideshow-pager-field-item {
        @include hide-text;
        background: transparent url('../images/bg_slideshow-pager.png') no-repeat top right;
        float: left;
        width: 14px;
        height: 14px;
        margin: 0 2px;

        &.active {
          background-position: top left;
        }
      }
    }
  }

  .pane-services-block-home {
    background: #eff2f4 url('../images/bg_home-services.png') repeat-x center top;
    padding: 2px 0 em(9px, 14px);

    .panel-pane-inner {
      background: transparent url('../images/bg_home-services-inner.jpg') no-repeat center top;
      overflow: hidden;
    }
    .pane-title {
      @include element-invisible;
    }
    .view-header {
      color: #4B5F6C;
      font-weight: 300;
      text-align: center;
      margin: em(32px, 14px) perc(120px, 960px) em(38px, 14px);

      p {
        font-size: em(25px, 14px);
        line-height: 1.46em;
      }
      a {
        color: #D14C19;

        &:hover {
          color: darken(#D14C19, 10%);
        }
      }
    }
    .views-row {
      @include grid(4.5);
      @include grid-prefix(1);
    }
    .views-row-odd {
      @include grid-suffix(0.5);
      clear: both;
    }
    .icon {
      background: transparent url('../images/icons_services-62px.png') no-repeat 0 0;
      float: left;
      width: 62px;
      height: 62px;
      margin-left: -80px;

      &.icon-drupal {
        background-position: 0 0;
      }
      &.icon-mobile {
        background-position: -62px 0;
      }
      &.icon-cms {
        background-position: -124px 0;
      }
      &.icon-marketing {
        background-position: -186px 0;
      }
      &.icon-commerce {
        background-position: -248px 0;
      }
      &.icon-applications {
        background-position: -310px 0;
      }
      a {
        @include hide-text;
        display: block;
        width: 62px;
        height: 62px;
      }
    }
    .views-field-title {
      line-height: em(21px, 18px);
      font-weight: normal;
      margin-bottom: em(3px, 18px);
    }
    .views-field-body {
      margin-bottom: em(33px, 14px);
    }
  }

  .pane-projects-block-latest-projects {
    background: #e1e1e1 url('../images/bg_latest-projects.png') repeat-x center top;
    padding-top: em(25px, 14px);
    padding-bottom: em(30px, 14px);

    .pane-title {
      color: $linkColor;
      font-family: $helveticaFontFamily;
      font-size: em(11px, 14px);
      text-transform: uppercase;
      margin-left: 10px;
      margin-bottom: 0.65em;
    }
    .view-content {
      @include clearfix;
    }
    .views-row {
      @include grid(4);
    }
    .views-field-field-image {
      img {
        background-color: #fff;
        display: inline-block;
        margin-bottom: 1em;
        padding: 7px;
        @include border-radius(1px);
      }
      a:hover img {
        @include box-shadow(0 0 3px lighten($linkColor, 40%));
      }
    }
    .views-field-title {
      font-weight: normal;
    }
  }
}

/*         Solutions
------------------------------------------------*/
.page-losninger {
  #page-title {
    @include element-invisible;
  }
  #main {
    width: 100%;
    margin: -1px auto;

    .tabs,
    .panel-pane-inner {
      @include grid-container-center;
    }
  }
}

#panel-solutions {
  .pane-custom-solutions-intro {
    text-align: center;
    padding: em(72px, 14px) 0 em(40px, 14px);

    .pane-title {
      font-size: em(50px, 14px);
      font-weight: normal;
      line-height: 1;
      letter-spacing: em(-2px, 50px);
      margin-bottom: em(12px, 50px);
    }
    .pane-content {
      @include grid(8.5);
      float: none;
      display: block;
      margin: 0 auto;

      p {
        font-size: em(20px, 14px);
        font-style: italic;
        line-height: em(29px, 20px);
      }
      a {
        color: #D14C19;

        &:hover {
          color: darken(#D14C19, 10%);
        }
      }
    }
  }

  .pane-services-block-solutions {
    background: #eff2f4 url('../images/bg_home-services.png') repeat-x center top;
    padding: 2px 0 em(9px, 14px);

    .panel-pane-inner {
      background: transparent url('../images/bg_home-services-inner.jpg') no-repeat center top;
      overflow: hidden;
    }
    .pane-title {
      @include element-invisible;
    }
    .view-content {
      margin: em(55px, 14px) 0;
      @include clearfix;
    }
    .views-row {
      @include grid(3);
      @include grid-prefix(1);
      margin-bottom: em(48px, 14px);
    }
    .views-row-4 {
      clear: both;
    }
    .icon {
      background: transparent url('../images/icons_services-62px.png') no-repeat 0 0;
      float: left;
      width: 62px;
      height: 62px;
      margin-left: -80px;

      &.icon-drupal {
        background-position: 0 0;
      }
      &.icon-mobile {
        background-position: -62px 0;
      }
      &.icon-cms {
        background-position: -124px 0;
      }
      &.icon-marketing {
        background-position: -186px 0;
      }
      &.icon-commerce {
        background-position: -248px 0;
      }
      &.icon-applications {
        background-position: -310px 0;
      }
      a {
        @include hide-text;
        display: block;
        width: 62px;
        height: 62px;
      }
    }
    .views-field-title {
      line-height: em(21px, 18px);
      font-weight: normal;
      margin-bottom: em(3px, 18px);
    }
    .views-field-body p {
      margin-bottom: 0;
    }
    .views-field-field-link {
      font-size: em(13px, 14px);
      letter-spacing: em(-0.25px, 13px);
      white-space: nowrap;

      a:after {
        content: ' ››';
      }
    }
  }

  .pane-users-block-single {
    position: relative;

    .pane-content {
      width: perc(720px, 960px);
      height: 96px;
      margin: -52px auto;
      background-color: #BECFD8;
      @include background-image(linear-gradient(lighten(#BECFD8, 0.5%), darken(#B9CDD6, 0.5%)));
      @include background-clip(padding-box);
      border: 4px solid #BECED8;
      @include border-radius(51px);
      overflow: hidden;
    }
    .view-content {
      padding: 21px 25px 0;
    }
    .views-field-field-image {
      @include grid(1);
      @include omega;

      img {
        display: inline-block;
        background-color: #fff;
        padding: 3px;
      }
      a:hover img {
        background-color: rgba(255,255,255,0.75);
      }
    }
    .views-field-field-name {
      font-size: 1em;
      font-weight: normal;
      line-height: 1;
      @include grid(4.5);

      a {
        color: #D14C19;
        &:hover {
          color: darken(#D14C19, 10%);
        }
      }
    }
    .views-field-field-bio {
      color: #535353;
      font-style: oblique;
      line-height: 1.5em;
      @include grid(4.5);
    }
    .views-field-nothing {
      float: right;
      width: 200px;
      @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
      background-color: #A5B4BC;
      margin-top: em(-11px, 14px);
      padding: 4px;
      @include border-radius(26px);

      a {
        color: #fff;
        font-family: $helveticaFontFamily;
        font-weight: bold;
        font-size: em(15px, 14px);
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(0,0,0,0.35);
        @include background-image(linear-gradient(#ECAD7D, #E37D29 5%, #E68328 10%, #D2521D));
        display: block;
        padding: em(10px, 15px) 0 em(11px, 15px);
        border: 1px solid #D14D1A;
        border-color: #E39476 #DE7E50 #D14D1A;
        @include border-radius(22px);

        &:hover {
          text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
          @include box-shadow(0 0 4px rgba(0,0,0,0.25));
        }
      }
    }
  }

  .pane-areas-block-services {
    background: #dee2e5 url('../images/bg_latest-projects.png') repeat-x center top;
    padding-top: em(98px, 14px);
    padding-bottom: em(30px, 14px);

    .pane-title {
      color: #263A43;
      font-size: em(30px, 14px);
      font-weight: normal;
      line-height: 1;
      text-align: center;
      margin-bottom: em(10px, 30px);
    }
    .view-header {
      text-align: center;
      @include grid(9);
      float: none;
      display: block;
      margin: 0 auto em(30px, 10px);

      p {
        font-size: em(18px, 14px);
        font-style: oblique;
        line-height: em(29px, 18px);
      }
    }
    .view-content {
      background-color: #fff;
      @include box-shadow(0 1px 2px rgba(0,0,0,0.1));
      @include clearfix;
      margin: 0 perc(10px, 960px) em(30px, 14px);
      padding: em(24px, 14px) perc(20px, 940px) em(16px, 14px);
    }
    .views-row {
      display: inline;
      float: left;
      width: 20%;
    }
    .views-field-title {
      font-weight: normal;
      margin-bottom: 1em;
    }
    .views-row ul {
      margin: 0;
      list-style: none;

      li {
        font-size: em(13px, 14px);
        margin-bottom: em(9px, 13px);
      }
      a:after {
        content: ' ››';
      }
    }
  }
}

/*         Inner Pages
------------------------------------------------*/

/*         Forms
------------------------------------------------*/
