/*         General Sitewide Styles
------------------------------------------------*/
/* Layout */

/* General Styles (Colors, Backgrounds etc.) */

/* Typography */
.page-node #page-title,
.page-medarbeidere #page-title {
  font-size: em(40px, 14px);
  margin-top: 0;
  margin-left: 2%;
}

.page-blogg #page-title,
.page-support #page-title {
  font-size: em(40px, 14px);
  margin-top: 0.48em;
  margin-left: 2%;
}

.ingress,
.ingress-left {
  p {
    font-size: em(16px, 14px);
  }
}

/* Links */

/* Header */
#header h1 {
  line-height: normal;
  text-align: center;
  width: 100%;
  margin: 0 auto 1em;
}

#main-menu,
#secondary-menu {
  font-size: 1em;
  text-align: center;
  clear: none;
  padding: 0;

  .main-menu,
  .secondary-menu {
    display: none;
  }
  select {
    font-size: em(16px, 14px);
    line-height: normal;
    width: 100%;
    height: auto;
    margin: 0 auto 1em;

    .default {
      font-weight: bold;
      margin-bottom: 0.1em;
      padding-bottom: 0.1em;
    }
  }
}

#main-menu {
  float: left;
  width: 59.75%;
}

#secondary-menu {
  float: right;
  width: 39.75%;
}

/* Footer */
.block-panels-mini {
  .panel-panel {
    @include grid-container-center;
    .inside {
      margin: 0;
    }
  }
}

.pane-blog-block-latest-posts {
  article {
    padding-left: 0;
  }
  .views-field-field-image {
    display: none;
  }
}

.pane-front-custom-front-support {
  .pane-content {
    .links {
      li {
        text-align: center;
        width: 50%;
        margin: 0;
        float: left;
      }
      .contact a,
      .support a {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

/* Front Page */
.page-home {
  .pane-projects-block-latest-projects {
    .jcarousel-container-horizontal {
      max-width: 280px;

      img {
        max-width: 246px;
        height: auto;
      }
    }
  }
}

.pane-home-featured-home,
#pane-om-oss-featured {
  .views-field-title {
    font-size: em(30px, 14px);
    text-align: center;
  }
  .views-field-body {
    text-align: center
  }
  .views-field-field-image {
    display: none;
  }
  .views-slideshow-controls-bottom {
    margin-top: 1em;
  }
}

.page-home .pane-projects-block-latest-projects {
  .views-field-title {
    text-align: center;
  }
}

#panel-solutions,
#panel-services,
#panel-prosjekter {
  .pane-custom {
    .pane-title {
      font-size: em(30px, 14px);
    }
    .pane-content {
      p {
        font-size: em(16px, 14px);
      }
    }
  }
}

#panel-prosjekter {
  .pane-projects-block-projects {
    .view-content {
      margin-top: em(30px, 14px);
    }
    .views-row {
      clear: none;
      @include grid(5.75);
      @include grid-prefix(0.25);
      margin-bottom: 2em;
    }
    .views-field-title {
      white-space: nowrap;
    }
  }
}

#panel-medarbeidere {
  .view-employees {
    .view-header {
      p {
        font-size: em(16px, 14px);
      }
    }
    .views-row {
      @include grid-reset;
      height: auto!important;
      margin: 0 2%;
      padding: 1em 0;
      border-left: none;
      border-right: none;
    }
    .views-row-last {
      border-bottom: none;
    }
    .views-field-field-image {}
    .views-field-field-title {}
    .views-field-nothing {}
  }
}

#panel-support {
  .pane-custom-support-intro {
    p {
      font-size: em(16px, 14px);
    }
  }
  .webform-client-block {
    .form-text {
      width: perc(495px, 568px);
    }
    .form-textarea {
      margin-bottom: 0;
    }
  }
}

#panel-kontakt,
#panel-support {
  .webform-client-block {
    .pane-title {
      font-size: em(40px, 14px);
      margin-left: 0;
    }
    .field-name-body {
      p {
        font-size: em(16px, 14px);
      }
    }
    .form-text {
      width: perc(495px, 568px);
    }
    .form-textarea {
      margin-bottom: 0;
    }
  }
}

#panel-blogg {
  .view-blog {
    .view-header {
      p {
        font-size: em(16px, 14px);
      }
    }
    .views-row {
      padding: 2em 0;
    }
    .views-row-first {
      padding-top: 1em;
    }
    .views-field-field-image {
      @include grid(3);
      @include alpha;
      @include grid-suffix(0.5);

      img {
        padding: 4px;
        @include responsive-image;
      }
    }
    .views-field-created {
      font-size: em(10px, 14px);
    }
    .views-field-body {
    }
    .views-field-view-node {
    }
    .pagination {
      margin-top: 0;
    }
  }
}

.page-kurs {
  #page-title {
    font-size: em(30px, 14px);
  }
  .pane-custom {
    .pane-content {
      margin: 0;
      p {
        font-size: em(16px, 14px);
      }
    }
  }
  .pane-title {
    text-align: center;
  }
  .pane-videos-panel-pane-1 {
    .jcarousel-container-horizontal {
      max-width: 280px;
    }
    .view-footer {
      float: none;
      clear: both;
      text-align: center;
    }
  }
}

/* Other */
.jcarousel-prev-horizontal {
  top: 65px;
  left: -21px;
}
.jcarousel-next-horizontal {
  top: 65px;
  right: -21px;
}

.pane-users-block-single,
.pane-users-block-referenced {
  .views-field-field-image {
    margin-bottom: 1em;
  }
  .views-field-field-name {
    text-align: left;
    float: none;
    clear: both;
    display: block;
    margin: 0;
  }
}
