// Typography
$baseFontSize:          14px;
$baseFontFamily:        'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$baseLineHeight:        21px;
$altFontFamily:          ‘Arial Narrow’, sans-serif;
$helveticaFontFamily:   'Helvetica Neue', Helvetica, Arial, sans-serif;

$headingsFontFamily:    inherit !default; // empty to use BS default, @baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, @textColor
$yellowLogoColor: 			#F2CB2E	;
$bodyBackgroundLower:		#eff2f4 url('../images/bg_home-services.png') repeat-x center top; // For the lower half of a lot of pages
$bodyBackgroundLowest:	#DEE2E5 url('../images/bg_latest-projects.png') repeat-x center top;

// Fonts directory path
$font_path: 'fontawesome-webfont';

// Sprite icons path
$iconSpritePath:      '../images/glyphicons-halflings.png';
$iconWhiteSpritePath: '../images/glyphicons-halflings-white.png';
