/* Display none */
.field-field-slider-content h2 {
display: none;
}


/* ------- Header ------ */
#site-header {
background: url(./images/site-header-bg.png) 0 0 repeat-x;
border-bottom: 1px solid #ccc;
}

#header-top {
background: url(./images/header-top-bg.png) 0 0 repeat-x;
border-bottom: 1px solid #4A4A4A;
}

#header-top-inner {
margin: 0 auto;
width: 940px;
overflow: auto;
}


#header-top ul {
float: right;
}

#header-top li {
float: left;
}

#header-top ul a {
border-color:transparent;
border-style:solid;
border-width:0 1px;
color:#FFFFFF;
display:block;
font-family:"Lucida Grande",arial,sans-serif;
font-size:12px;
line-height: 12px;
margin:0;
padding:10px 15px;
text-decoration:none;
text-shadow:1px 1px 0.5px #333;
}

#header-top ul a.active, #header-top ul a:hover {
background:url("./images/top-links-active.png") repeat-x 0 0;
border-left:1px solid #649E15;
border-right:1px solid #69A922;
text-shadow:1px 1px 0.5px #417F09;
}


#site-header {
padding-top: 10px;
margin-bottom: 0;
padding-bottom: 10px;
}

#site-header-inner {
margin: 0 auto;
width: 960px;
}

#nav {
width: 738px;
float: left;
font-size: 12px;
text-transform: uppercase;
padding-top: 10px;
}

#nav a {
color: #555;
padding: 5px 8px;
}

#nav a.active, #nav a:hover, #nav .active-trail a {
color: #fff;
background:url("./images/main-menu-active.png") repeat-x 0 0;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

#nav li {
margin-right: 10px;
}

#nav li.last {
margin-right: 0;
}

#main-menu {
float: left;
margin-top: 3px;
}

#twitter {
background: #E6E6E6;
font-size: 11px;
}

#tweet {
background: #fff;
-moz-border-radius:3px;
-webkit-border-radius:3px;
margin-left: 20px;
display: inline;
padding: 4px;
}

#follow {
float: right;
}

/* other menus */
#block-menu_block-1 li {
float: left;
margin-right: 20px;
}
#block-menu_block-1 li a{
	display:inline-block;
	padding:5px 10px 6px;
	text-decoration:none;
	border-bottom:1px solid transparent;
	position:relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

/**/


/* Search box*/
#search-box {
float: right;
}

#search-theme-form {
background: #fff;
border: 1px solid #ccc;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
width: 172px;
}

.form-text {
font-size: 12px;
color: #555;
font-style: italic;
}

#search-box input[type="text"] {
border: none;
margin-left: 8px;
}

#search-box .form-submit {
float: right;
margin: 5px 3px 0 0;
}

/**/

/* ------- General -------*/

ul.links li {
padding: 0;
}

.block ul, ul.menu li { margin: 0; padding: 0; list-style: none;}

ul.menu {
list-style: none;
}

/**/


/* Page */
#page {
margin-top: 10px;
}

/**/

/* Panels 960gs */

.panel-3col-33-stacked .panel-col, .panel-3col-33-stacked .panel-col-first {
width: 300px;
margin-right: 20px;
}

.panel-3col-33-stacked .panel-col-last {
margin-right: 0;
width: 300px;
}

.panel-3col-33-stacked .panel-col .inside, .panel-3col-33-stacked .panel-col-last .inside  {
margin:0;
}

/**/

/* Other Panels and views grid stuff */

.panel-3col-33-stacked .panel-pane, .view .grid-4 {
padding-top: 15px;
border-top: 1px solid #ccc;
}

.panel-col-top .panel-pane, .panel-col-bottom .panel-pane {
padding: 0;
border: 0;
}

#related-links {
padding: 15px 20px;
background: #F6FAFF;
border: 1px solid #ccc;
}

#related-links ul {
margin: 0;
}


/**/


/* ------- Sidebar one -------*/

#sidebar-left .menu li {
border-top: 1px solid #ccc;
}

#sidebar-left .menu li a {
display: block;
padding: 11px 14px;
background: transparent;
text-transform: uppercase;
font-size: 13px;
color: #222;
}

#sidebar-left .menu li.last {
border-bottom: 1px solid #ccc;
}

#sidebar-left .menu li a.active  {
background: #555;
color: #fff;
}

#sidebar-left .menu li a:hover {
background: #666;
color: #fff;
}

#sidebar-left .menu li li, #sidebar-left .menu li li li, #sidebar-left .menu li li.last {
border: none;
}

/**/




/* ------- Tables ------ */

table {
width:100%;
border-top:1px solid #e5eff8;
border-right:1px solid #e5eff8;
margin:1em auto;
border-collapse:collapse;
}

th {
background:#F4F9FE none repeat scroll 0 0;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:2em;
text-align:left;
border-bottom: none;
}

thead tr {
border-left: 1px solid #e5eff8;
}

td {
border-bottom:1px solid #e5eff8;
border-left:1px solid #e5eff8;
padding:.3em 1em;
text-align:left;
}

tbody {
border-top: 1px solid #e5eff8;
}

tr.odd td {
background:#fff;
}

tr.even td {
background:#f9fcfe;
}
/**/



/* Comments */
.comment { 
background: #F7F7F7;
border: 1px solid #ccc;
}

.comment-inner {
padding: 22px;
overflow: auto;
}

ul.links li.comment_reply {
text-transform: uppercase;
padding-left: 30px;
background: url(./images/comment-reply.png) 0 2px no-repeat;
float: right;
}

.indented {
margin-left: 60px;
}

/**/

/* UI improvments  */

#edit-title{
	font-size: 24px;
}
#system-themes-form img{
	width:100px;
}
.form-item .description{
	font-style:italic;
	line-height:1.2em;
	font-size:0.8em;
	margin-top:5px;
	color:#777;
}
#edit-delete{
	color:#c00;
}

/* Grids */
.view-tjenester .grid-4 {
min-height: 200px;
}

/**/

/**
 * Console, style from Slate theme
 */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
}
div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}
div.error {
  color: #fff;
  background: #e63;
  border-color: #d52;
}
div.status {
  color: #360;
  background: #cf8;
  border-color: #be7;
}

/**/

/* ------- Quciktabs (default = "no style") -------*/
.quicktabs_wrapper {
}

ul.quicktabs-style-nostyle {
font-size: 13px;
line-height: 13px;
font-weight: bold;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
overflow: visible;
}

ul.quicktabs-style-nostyle li a{
margin-bottom: 10px;
padding:5px 10px 6px;
color: 
}

/**/
#footer {
background: #1D252A;
min-height: 200px;
}

#footer-top {
height: 38px;
background: #232D33;
}

#footer-inner, #footer-top-inner, #twitter-inner {
width: 940px;
margin: 0 auto;
}

/**/




/* Buttons and links */

.awesome,.awesome:visited, ul.quicktabs-style-nostyle .active a:link, ul.quicktabs-style-nostyle .active a:visited, #block-menu_block-1 .active a, #block-menu_block-1 .active a:visited {
	background:#666 url(./images/alert-overlay.png) repeat-x;
	display:inline-block;
	padding:5px 10px 6px;
	color:#fff;
	text-decoration:none;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	text-shadow:0 -1px 1px rgba(0,0,0,0.25);
	border-bottom:1px solid rgba(0,0,0,0.25);
	position:relative;
	cursor:pointer;
}

.awesome:hover {
	background-color:#111;
	color:#fff;
}

.awesome:active {
	top:1px;
}

.small.awesome,.small.awesome:visited {
	font-size:11px;
	padding:;
}

.awesome,.awesome:visited,.medium.awesome,.medium.awesome:visited {
	font-size:13px;
	font-weight:bold;
	line-height:1;
	text-shadow:0 -1px 1px rgba(0,0,0,0.25);
}

.large.awesome,.large.awesome:visited {
	font-size:14px;
	padding:8px 14px 9px;
}

.green.awesome,.green.awesome:visited {
	background-color:#91bd09;
}

.green.awesome:hover {
	background-color:#749a02;
}

.blue.awesome,.blue.awesome:visited {
	background-color:#2daebf;
}

.blue.awesome:hover {
	background-color:#007d9a;
}

.red.awesome,.red.awesome:visited {
	background-color:#e33100;
}

.red.awesome:hover {
	background-color:#872300;
}

.magenta.awesome,.magenta.awesome:visited {
	background-color:#a9014b;
}

.magenta.awesome:hover {
	background-color:#630030;
}

.orange.awesome,.orange.awesome:visited {
	background-color:#ff5c00;
}

.orange.awesome:hover {
	background-color:#d45500;
}

.yellow.awesome,.yellow.awesome:visited {
	background-color:#ffb515;
}

.yellow.awesome:hover {
	background-color:#fc9200;
}

