/* --------------------------------------------------------------

   typography.css
   * Sets up some sensible default typography.

-------------------------------------------------------------- */

/* Default font settings. */
html { font-size:100.01%; }
body {
  font-size: 14px;
  color: #222;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px;
}


/* Headings
-------------------------------------------------------------- */

h2,h3 { font-weight: normal; color: #222; margin-bottom: 22px;}

h1 { font-size: 36px; line-height: 44px; border-bottom: 1px solid #ccc; }
h2 { font-size: 20px; line-height: 34px;}
h3 { font-size: 16px; line-height: 22px; margin-bottom: 10px;}
h4 { font-size: 14px; line-height: 22px; }

.node-type-blog h1, .node-type-artikkel h1 {
border: none;
}

h1 a, h2 a, h3 a {
color: #222;
}

.panel-col-bottom h2 {
font-family: georgia;
font-style: italic;
font-size: 20px;
color: #666;
border-bottom: 1px solid #ccc;
padding-bottom: 6px;
}

h2.pane-title {
line-height: 22px;
}


h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

#footer h3 {
color: #fff;
}

#footer {
color: #fff;
}

/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 22px 0; }
.buildmode-teaser .node-type-blog p:first-letter {font-family: Georgia; font-size: 20px; font-style: italic; font-weight: bold; padding-right: 1px;}

p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus,
a:hover, #footer #footer-top-inner a:hover     { color: #000; }
a, li a.active      { color: #3A9CD5; text-decoration: none; }
#footer li a {
color: #ccc;
display: block;
}

blockquote  {
float: right;
width: 240px;
padding: 10px 0 10px 60px;
margin: 1.5em; 
border-top: 2px solid #999;
border-bottom: 2px solid #999;
background: url(./images/quote.png) 0 14px no-repeat;
clear:both;
}

.field-post-date {
color: #666;
text-transform: uppercase;
font-size: 11px;
margin-bottom: 10px;
}

.field-teasertext p, .field-subheading p, .view-header p, #views_slideshow_singleframe_main_front_main-default p {
font-size: 20px;
}

.panel-panel .field-teasertext p {
font-size: 14px;
}

blockquote p {margin: 0;}

strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

.field-field-teasertext { font-size: 20px; border-bottom: 1px solid #666; margin: 0 0 6px 0;}

.submitted { color: #666; text-transform: uppercase; font-size: 11px; }


/* Lists
-------------------------------------------------------------- */

li ul,
li ol       { margin: 0; }
ul, ol      { margin: 0; padding-left: 0; }

ul          { list-style-type: none; }
/*.node ul    { margin-left: 24px; }*/
.node li    { padding-left: 20px; background: url(./images/li-arrow.png) 0 50% no-repeat;}
.node li li { padding-left: 0; background: none; list-style-type: disc;}

ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th    { background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }


/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: 9px; margin-bottom: inherit; line-height: inherit; }
.large      { font-size: 22px; line-height: 22px; margin-bottom: inherit; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }
